.container {
  overflow-x: hidden;
}

.container::-webkit-scrollbar {
  width: 10px; /* 세로축 스크롤바 길이 */
  height: 20px; /* 가로축 스크롤바 길이 */
}

.container::-webkit-scrollbar-track-piece {
  background-color: #909090;
  border-radius: 8px;
}

.container::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #4d4d4d;
}
